For this assignment please complete the directed code segments below. 

Please make sure that when names for functions, files, etc... are specified, that you use the directed value, including capitalization and spaces. The submission system on GitHub looks for specific values, and if yours do not match exactly, your code will fail. The pieces that are graded are labled with #AUTOGRADED in the code segment, outside of providing what is asked for there, you are free to build pretty much any other code that helps you - it may be useful to preview data, print out values, etc...

You may call external functions and import external code if you find it useful, except if you are explicitly directed to code something yourself - e.g. if you are asked to calculate the average of a set of numbers, you do not need to write code to loop through each value to add them up and divide, you can use a prebuilt average function. 

Please change all of the "Return True" to return your actual answer.

In [1]:
#Import some potentially usefull stuff. 
#Note - if you need to INSTALL any other packages, add the package name to the requirements.txt file.
#I think that the stuff that you NEED should already be installed here. 
import thinkplot
import thinkstats2
import sys
import pandas as pd
import numpy as np
import scipy

In [31]:
#Load data and do some minor cleanup
df = pd.read_csv("diabetes.csv")
df.dropna()
df = df[df["BloodPressure"]>0]
df = df[df["SkinThickness"]>0]
df = df[df["BMI"]>0]
df = df[df["Glucose"]>0]
df = df[df["Insulin"]>0]
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
13,1,189,60,23,846,30.1,0.398,59,1

In [32]:
df.describe(include="all")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

For all of these functions, you only need things that are passed into that function via an argument. E.g. if you have some function:

def doSomeStuff(someDataframe, aColumnName, someValue):
    ....
    return someFinalValue

Inside of that, you can do all your stuff with those 3 varaibles. You can create more, as many as you want, inside the function, but you don't need any other data to make that caclulation. You can use outside functions mean(), std(), isnull(), etc... as long as you've imported those libraries. You do not need to refer to any other variables with data in them outside of the stuff in the arguments though.

Complete the following function to perform a calculation of correlation between two columns in one dataframe. The dataframe, and both the column names are passed in as arguments. The function should calculate the Pearson correlation if the spearman argument is false (the default), and the correlation should be the Spearman if this value is true.  

Note - one way to make a decision between two (or more) things is an if statement. There are lots of examples in the book, previous exercises, or online in documentation.

In [8]:
#Check correlations
#Note - test tolerance is .01
def multiCorr(df1, columnName1, columnName2, spearman=False):
    finalCorr = -999
    if spearman == True:
        finalCorr = thinkstats2.SpearmanCorr(df1[columnName1], df1[columnName2])
    if spearman == False:
        finalCorr = thinkstats2.Corr(df1[columnName1], df1[columnName2])
    return finalCorr

In [33]:
#Example of calling the above function
cor_test = multiCorr(df, "Glucose", "BloodPressure", spearman=False)
cor_test

0.21002657364775348

Complete the following function to rank 3 columns in a dataframe by their skew, from lowest to highest. There is an assumption that all the columns are (at least roughly) normally distributed. 

For the skew calculation, please use Pearson's median skewness. There is the code of that calculation in section 6.8 of the text.

In [21]:
#RankSkew
#Note: this function returns multiple values. First, second, third should be column names. 
#Skew1, skew2, skew3 should be the actual skew value.
#The order of these returns matters. See the example of calling the function below for use.
def rankSkew(df1, columnName1, columnName2, columnName3):
    skew1 = thinkstats2.PearsonMedianSkewness(df1[columnName1])
    skew2 = thinkstats2.PearsonMedianSkewness(df1[columnName2])
    skew3 = thinkstats2.PearsonMedianSkewness(df1[columnName3])
    #print(skew1, skew2, skew3)
    skewList = [(skew1, columnName1), (skew2, columnName2), (skew3, columnName3)]
    skewList.sort(key=lambda tup: tup[0])
    firstTmp = skewList[0]
    first = firstTmp[1]
    skew1 = firstTmp[0]
    secTmp = skewList[1]
    second = secTmp[1]
    skew1 = secTmp[0]
    thiTmp = skewList[2]
    third = thiTmp[1]
    skew1 = thiTmp[0]
    return first, skew1, second, skew2, third, skew3

In [34]:
#Execute the above skew function
firstColumnName, firstSkew, secondColumnName, secondSkew, thirdColumnName, thirdSkew = rankSkew(df, "Glucose", "BloodPressure", "BMI")
#print("Least Skewed:", firstColumnName, firstSkew)
#print("2nd Least Skewed:", secondColumnName, secondSkew)
#print("Most Skewed:", thirdColumnName, thirdSkew)

0.35308765325092956 0.1594369550855265 -0.048631090508113234
Least Skewed: BMI 0.35308765325092956
2nd Least Skewed: BloodPressure 0.1594369550855265
Most Skewed: Glucose -0.048631090508113234

Complete the following function to return an analytical normal model, and an indication of if that normal model meets a threshold for fitting the data. 

- For the test of normality, use the function scipy.stats.normaltest(data). This function will return two values, k and p. e.g

    - k2, p = scipy.stats.normaltest(df["return"]). Use p, ignore k.

    - For this use the p value as the criteria, if p is less than the value passed as the 'threshold', return False, if it is greater, return True for the part of the return value called "fitted".

- To create the analytical model itself, use the function: scipy.stats.norm(loc=theMean, scale=theStandDev).

    - e.g. model = scipy.stats.norm(loc=myCalculatedMeanFromTheData, scale=myCalculatedStdDevFromTheData)

- The threshold value is just a decimal number, e.g. .1, .256. It defaults to .05 as shown below.

In [39]:
#Analytical distribution test. 
def passAnalytical(df1, columnName, threshold=.05):
    k, p = scipy.stats.normaltest(df1[columnName])
    fitted = False
    if fitted > threshold:
        fitted = True
    model = scipy.stats.norm(loc=df1[columnName].mean(), scale=df1[columnName].std())
    #print(p)
    return fitted, model

In [40]:
#Example of calling the function above
doesItFitNorm, normModel = passAnalytical(df, "Glucose", .1)
doesItFitNorm

1.3277887088487345e-05

False

Log normal or normal. Perform a normal test and a log normal test. If the resulting score for the log normal is greater than the normal score, then return True. If it is lesser or equal, return false. 
Use the same normal test function from the previous question. 
I used np.log() to get the log values in the transformation.

In [41]:
def lognormOrNorm(df1, columnName):
    k1, pNorm = scipy.stats.normaltest(df1[columnName])
    k2, pLog = scipy.stats.normaltest(np.log(df1[columnName]))
    isLog = False
    if pNorm >= pLog:
        isLog = True
    #print(pNorm, pLog)
    return isLog

In [43]:
test = lognormOrNorm(df, "BloodPressure")
test

0.030164917115239397 3.494505962415555e-21

True